<div class="lading-page">
  <div class="navbar">
    <div class="title-and-search">
      <div class="title">
        <span>Adda Ghor</span>
      </div>
      <button *ngIf="seeAllTimelines" mat-raised-button (click)="filterPosts()">Filter my posts</button>
      <button *ngIf="!seeAllTimelines" mat-raised-button (click)="allPosts()">See all posts</button>
    </div>
    <div class="profile-and-create-post">
      <img *ngIf="user?.avatar" class="image" src="assets/{{user?.avatar}}"/>
      <div class="name" (click)="goToProfile()">{{user?.userName}}</div>
      <button mat-stroked-button (click)="logout()">
        <span>Logout</span>
        <mat-icon style="margin-left: 8px;">logout</mat-icon>
      </button>
  </div>
</div>

<div class="create-post">
  <mat-card class="card-style">
    <post (post)="submitPost($event)"></post>
  </mat-card>
</div>

<div class="timeline">
  <ng-container *ngFor="let timeline of timelinesToDisplay">
    <post-card [timeLineInfo]="timeline" [userId]="user?.userId" (likeEvent)="like($event)" 
    (smileEvent)="smile($event)" (loveEvent)="love($event)" (commentEvent)="comment($event)" 
    (updatePost)="updatePost($event)" (updateComment)="updateComment($event)"></post-card>
  </ng-container>
</div>
