<div class="lading-page">
  <div class="navbar">
    <div class="title-and-action">
      <div class="title">
        Adda Ghor
      </div>
    </div>
    <div class="profile-and-create-post">
      <img *ngIf="user?.profilePicture" class="image" [src]="user?.avatar" />
      <div class="name" (click)="goToProfile()">{{user?.name}}</div>
      <button mat-stroked-button (click)="logout()">
        <span>Logout</span>
        <mat-icon style="margin-left: 8px;">logout</mat-icon>
      </button>
    </div>
  </div>

  <div style="overflow-y: auto;">
    <div class="create-post">
      <mat-card class="card-style">
        <div class="post">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>
              <span>Write post</span>
            </mat-label>
            <textarea matInput maxlength="1000" rows="8" [formControl]="postText"
              placeholder="Write post"></textarea>
          </mat-form-field>
          <button style="width: fit-content;" mat-raised-button color="primary" (click)="submitPost()">
            <span>Post</span>
          </button>
        </div>
      </mat-card>
    </div>

    <div class="timeline">
      <ng-container *ngFor="let feed of activityFeed">
        <activity-feed [activityFeed]="feed" [user]="user"></activity-feed>
      </ng-container>
    </div>
  </div>
</div>