.lading-page {
  background-color: rgba(234, 234, 235, 0.8);
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px 36px 12px 36px;
    background-color: #ffff;
    height: 60px;
    align-items: center;

    .title-and-action {
      display: flex;
      align-items: center;
      gap: 16px;

      .title {
        font-size: 34px;
        color: #1877f2;
        font-weight: 700;
      }
    }

    .profile-and-create-post {
      display: flex;
      align-items: center;

      font-size: 18px;
      font-weight: bold;
      color: black;

      .image {
        background-color: #ccc;
        border-radius: 100%;
        height: 50px;
        width: 50px;
        margin-right: 8px;
      }

      .name {
        margin-right: 16px;
        color: #1877f2;
        cursor: pointer;
      }
    }
  }
}

.timeline {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.create-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 12px;

  .card-style {
    width: 350px;
  }
}