<div class="lading-page">
  <div class="navbar">
    <div class="title-and-search">
      <div class="title">
        <span>Adda Ghor</span>
      </div>
      <!-- <div class="search">
        <mat-icon>search</mat-icon>
        <input type="search" placeholder="Search your post">
      </div> -->
      <button *ngIf="seeAllTimelines" mat-raised-button (click)="filterPosts()">Filter my posts</button>
      <button *ngIf="!seeAllTimelines" mat-raised-button (click)="allPosts()">See all posts</button>
    </div>
    <div class="profile-and-create-post">
      <div class="image"></div>
      <div class="name" (click)="goToProfile()">{{user?.userName}}</div>
      <div class="create-action">
        <!-- <button mat-stroked-button (click)="openCreatePostDialogue()">
          <span>Post</span>
          <mat-icon>create</mat-icon>
        </button> -->
        <button mat-stroked-button (click)="logout()">
          <span>Logout</span>
          <mat-icon>logout</mat-icon>
        </button>
    </div>
  </div>
</div>

<div>
  
</div>

<div class="timeline">
  <ng-container *ngFor="let timeline of timelinesToDisplay">
    <post-card [timeLineInfo]="timeline" [userId]="user?.userId" (likeEvent)="like($event)" 
    (smileEvent)="smile($event)" (loveEvent)="love($event)" (commentEvent)="comment($event)" 
    (updatePost)="updatePost($event)" (updateComment)="updateComment($event)"></post-card>
  </ng-container>
</div>
