.post-card{
    display: flex;
    flex-direction: column;
    width: 350px;
    .post{
        display: flex;
        flex-direction: column;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title{
                display: flex;
                align-items: center;

                .text{
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
        .edit{
            display: flex;
            flex-direction: column;
        }
    }
    .react{
        margin-top: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .react-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 8px;
            // .react-count{

            // }
            .react-action{
                cursor: pointer;
            }
        }
    }
    .comment{
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        .comment-item{
            display: flex;
            flex-direction: column;
            .header{
                display: flex;
                align-items: center;
                height: 40px;
                justify-content: space-between;
                .commet-user-info{
                    display: flex;
                    align-items: center;
                    .text{
                        width: 100%;
                        font-weight: bold;
                    }
                }

            }
            .comment-text{
                width: calc(100% - 200px);
            }
        }
        .new-comment{
            display: flex;
            align-items: center;
            column-gap: 8px;
            margin-top: 8px;
            .input-style{
                width: 250px;
            }
            .action-btn{
                width: 100px;
            }
        }
    }

}

::ng-deep .post-card {
    .comment {
        .new-comment{
            .mat-form-field-wrapper {
                padding-bottom: 0px !important;
            }
        }
    }
    .post {
        .edit {
            .mat-form-field-wrapper {
                padding-top: 10px !important;
                padding-bottom: 8px !important;
            }
        }
    }
}

.post-image{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 8px;
}

.comment-image{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-right: 8px;
}

::ng-deep .post-card {
    .mat-icon-button{
        width: 20px !important;
    }
    .mat-icon{
        font-size: 20px !important;
    }
}