<mat-card class="post-card">
    <div class="post">
        <div class="header">
            <div class="title">
                <div>
                    <img class="post-image" src="assets/tanjiro.jpg" />
                </div>
                <div class="text">{{activityFeed.post.author.name}}</div>
            </div>
            <edit-item [text]="activityFeed.post.text" [itemId]="activityFeed.post.postId" *ngIf="activityFeed.post.author.userId === user.userId" (editedText)="updatePost($event)"></edit-item>
        </div>
        <div class="post-text">
            {{activityFeed.post.text}}
        </div>
    </div>
    <div class="react">
        <ng-container *ngFor="let react of reactTypes">
            <div class="react-item">
                <div class="react-action" (click)="reactPost(reactType[react])">
                    <div style="font-size: 20px;">{{reactEmoji[react]}}</div>
                </div>
                <ng-container *ngIf="activityFeed.userReact === reactType[react]; else notUserReacted">
                    <div class="react-count user-react">
                        {{activityFeed.reactCount[react]}}
                    </div>
                </ng-container>
                <ng-template #notUserReacted>
                    <div class="react-count">
                        {{activityFeed.reactCount[react]}}
                    </div>
                </ng-template>
            </div>
        </ng-container>
    </div>
    <div class="comment">
        <div class="comment-item" *ngFor="let comment of activityFeed.comments">
            <div class="header">
                <div class="commet-user-info">
                    <div class="author">
                        <img class="comment-image" src="assets/tanjiro.jpg" />
                        <div>{{comment.author.name}}</div>
                    </div>
                    <div class="text">{{comment.text}}</div>
                </div>
                <edit-item [text]="comment.text" [itemId]="comment.commentId" *ngIf="comment.author.userId === user.userId" (editedText)="updateComment($event)"></edit-item>
            </div>
        </div>
        <div class="new-comment">
            <mat-form-field appearance="outline" class="input-style">
                <mat-label>Write comment</mat-label>
                <input [formControl]="commentBoxFormControl" matInput placeholder="Wite comment">
            </mat-form-field>
            <button class="action-btn" mat-raised-button color="primary" (click)="createComment()">Comment</button>
        </div>
    </div>
</mat-card>