<mat-card class="post-card">
    <div class="post">
        <div class="header">
            <div class="title">
                <div>
                    <img class="post-image" [src]="activityFeed.post.author.profilePic" />
                </div>
                <div class="text">{{activityFeed.post.author.name}}</div>
            </div>
            <button mat-icon-button color="primary" (click)="editPost()" *ngIf="activityFeed.post.author.userId === userId && !isPostEditMode">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div class="post-text" *ngIf="!isPostEditMode">
            {{activityFeed.post.text}}
        </div>
        <div class="edit" *ngIf="isPostEditMode">
            <post [mode]="'update'" [value]="activityFeed.post.text" (post)="updatePost($event)"></post>
        </div>
    </div>
    <div class="react">
        <div class="react-item">
            <div class="react-action" (click)="reactPost('smile')">
                <angular-emojis [name]="'smiley'" size="20"></angular-emojis>
            </div>
            <div class="react-count">
                {{activityFeed.react.smile}}
            </div>
        </div>
        <div class="react-item">
            <div class="react-action" (click)="reactPost('love')">
                <angular-emojis [name]="'heartpulse'" size="20"></angular-emojis>
            </div>
            <div class="react-count">
                {{activityFeed.react.love}}
            </div>
        </div>
        <div class="react-item">
            <div class="react-action" (click)="reactPost('like')">
                <angular-emojis [name]="'thumbsup'" size="20"></angular-emojis>
            </div>
            <div class="react-count">
                {{activityFeed.react.like}}
            </div>
        </div>
    </div>
    <div class="comment">
        <div class="comment-item" *ngFor="let comment of activityFeed.comments">
            <div class="header">
                <div class="commet-user-info">
                    <div>
                        <img class="comment-image" [src]="comment.author.profilePic" />
                    </div>
                    <div class="text">{{comment.author.name}}</div>
                </div>
                <button mat-icon-button *ngIf="comment.author.userId === userId" color="primary" (click)="editComment(comment)">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <ng-container *ngIf="commentEditModeId !== comment.commentId; else updateCommentBody">
                <div class="comment-text">{{comment?.text}}</div>
            </ng-container>
            <ng-template #updateCommentBody>
                <div class="new-comment">
                    <mat-form-field appearance="outline" class="input-style">
                        <mat-label>Update comment</mat-label>
                        <input [formControl]="commentFormControl" matInput placeholder="Update comment">
                    </mat-form-field>
                    <button class="action-btn" mat-raised-button color="primary" (click)="updateComment(comment)">Update</button>
                </div>
            </ng-template>
        </div>
        <div class="new-comment">
            <mat-form-field appearance="outline" class="input-style">
                <mat-label>Write comment</mat-label>
                <input [formControl]="commentBoxFormControl" matInput placeholder="Wite comment">
            </mat-form-field>
            <button class="action-btn" mat-raised-button color="primary" (click)="createComment()">Comment</button>
        </div>
    </div>
</mat-card>