<mat-card class="post-card">
    <div class="post">
        <div class="header">
            <div class="title">
                <div>
                    <img class="post-image" src="assets/{{timeLineInfo?.avatar}}" />
                </div>
                <div class="text">{{timeLineInfo?.userName}}</div>
            </div>
            <button mat-icon-button color="primary" (click)="editPost()" *ngIf="timeLineInfo?.userId === userId && !isPostEditMode">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div *ngIf="!isPostEditMode">
            {{timeLineInfo?.postText}}
        </div>
        <div class="edit" *ngIf="isPostEditMode">
            <post [mode]="'update'" [value]="timeLineInfo?.postText" (post)="onUpdatePost($event)"></post>
        </div>
    </div>
    <div class="react">
        <div class="react-item">
            <div>
                {{timeLineInfo?.smileReactCount}}
            </div>
            <div class="react-action" (click)="smileReact()">
                <angular-emojis [name]="'smiley'" size="20"></angular-emojis>
            </div>
        </div>
        <div class="react-item">
            <div class="react-count">
                {{timeLineInfo?.loveReactCount}}
            </div>
            <div class="react-action" (click)="loveReact()">
                <angular-emojis [name]="'heartpulse'" size="20"></angular-emojis>
            </div>
        </div>
        <div class="react-item">
            <div class="react-count">
                {{timeLineInfo?.likeReactCount}}
            </div>
            <div class="react-action" (click)="likeReact()">
                <angular-emojis [name]="'thumbsup'" size="20"></angular-emojis>
            </div>
        </div>
    </div>
    <div class="comment">
        <div class="comment-item" *ngFor="let comment of timeLineInfo?.comments">
            <div class="header">
                <div class="commet-user-info">
                    <div>
                        <img class="comment-image" src="assets/{{comment?.avatar}}" />
                    </div>
                    <div class="text">{{comment?.userName}}</div>
                </div>
                <button mat-icon-button *ngIf="comment?.userId === userId" color="primary" (click)="editComment(comment)">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div class="comment-text">{{comment?.commentText}}</div>
        </div>
        <ng-container *ngIf="!isCommentEditMode; else updateCommentBody">
            <div class="new-comment">
                <mat-form-field appearance="outline" class="input-style">
                    <mat-label>Write comment</mat-label>
                    <input [formControl]="newComment" matInput placeholder="Wite comment">
                </mat-form-field>
                <button class="action-btn" mat-raised-button color="primary" (click)="commentPost()">Comment</button>
            </div>
        </ng-container>
        <ng-template #updateCommentBody>
            <div class="new-comment">
                <mat-form-field appearance="outline" class="input-style">
                    <mat-label>Update comment</mat-label>
                    <input [formControl]="comment" matInput placeholder="Update comment">
                </mat-form-field>
                <button class="action-btn" mat-raised-button color="primary" (click)="submitComment()">Update</button>
            </div>
        </ng-template>
    </div>
</mat-card>