<div class="post">
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>
      <span *ngIf="isCreateMode">Write post</span>
      <span *ngIf="!isCreateMode">Update post</span>
    </mat-label>
    <textarea 
        matInput
        maxlength="1000" [formControl]="postControl"
        rows="8"
        [placeholder]="isCreateMode? 'Write post':'Update post'">
    </textarea>
  </mat-form-field>
  <button style="width: fit-content;" mat-raised-button color="primary" (click)="onSubmitPost()">
    <span *ngIf="isCreateMode">Post</span>
    <span *ngIf="!isCreateMode">Update post</span>
  </button>
</div>