<div class="sign-up-page">
    <div class="header">
      <div>
        <div class="title">Sign Up</div>
        <div class="subtitle mt-8">Join Adda Ghor Now :)</div>
      </div>
      <button mat-icon-button (click)="closeWindow()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="mt-16">
        <mat-divider></mat-divider>
    </div>
  
    <form [formGroup]="signUpForm" (ngSubmit)="submitSignUpFormData()">
      <div class="sign-up-form mt-8">
        <mat-form-field appearance="fill">
          <mat-label>Choose an avatar</mat-label>
          <mat-select formControlName="avatar">
            <mat-option value="surveyCorp.png">Survey Corp</mat-option>
            <mat-option value="meliteryPolice.png">Melitery Police</mat-option>
            <mat-option value="gerrison.png">Gerrison</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="name">
          <div class="first-name">
            <input formControlName="firstName" type="text" placeholder="First Name">
          </div>
          <div class="last-name">
            <input formControlName="lastName" type="text"  placeholder="Last Name">
          </div>
        </div>
        <div class="email">
          <input formControlName="email" type="email" placeholder="Email">
        </div>
        <div class="email">
          <input formControlName="occupation" placeholder="Occupation">
        </div>
        <div class="email">
          <input formControlName="bio" placeholder="Bio">
        </div>
        <div class="password">
          <div class="new-password">
            <input formControlName="password" type="password" placeholder="Password">
          </div>
        </div>
      </div>
      <div class="footer mt-16">
        <div class="circle"></div>
        <span>By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy.</span>
      </div>
      <div class="action mt-8">
        <button mat-flat-button color="primary" (click)="signUp()">Sign Up</button>
      </div>
    </form>
  </div>
  