.post-card{
    display: flex;
    flex-direction: column;
    width: 350px;
    .post{
        display: flex;
        flex-direction: column;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .edit-action{

            }
            .title{
                font-weight: bold;
                font-size: 20px;
            }
        }
        .text{

        }
        .edit{
            display: flex;
            flex-direction: column;
        }
    }
    .react{
        margin-top: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .react-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 8px;
            .react-count{

            }
            .react-action{
                cursor: pointer;
            }
        }
    }
    .comment{
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        .comment-item{
            display: flex;
            flex-direction: column;
            .header{
                display: flex;
                align-items: center;
                height: 40px;
                .edit{
    
                }
                .commet-user-name{
                    width: 100%;
                    font-weight: bold;
                }
            }
            .comment-text{
                width: calc(100%-200px);
            }
        }
        .new-comment{
            display: flex;
            align-items: center;
            column-gap: 8px;
            margin-top: 8px;
            .comment-action{
                width: 50px;
            }
            .input-comment-text{
                
            }
        }
    }

}

::ng-deep .post-card {
    .comment {
        .new-comment{
            .input-comment-text{
                .mat-form-field-wrapper {
                    padding-bottom: 0px !important;
                }
            }
        }
    }
    .post {
        .edit {
            .mat-form-field-wrapper {
                padding-top: 10px !important;
                padding-bottom: 8px !important;
            }
        }
    }
}

::ng-deep .post-card {
    .mat-icon-button{
        width: 20px !important;
    }
    .mat-icon{
        font-size: 20px !important;
    }
}