.post-card{
    display: flex;
    flex-direction: column;
    width: 300px;
    .post{
        display: flex;
        flex-direction: column;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .edit-action{

            }
            .title{
                font-weight: bold;
            }
        }
        .text{

        }
        .edit{
            display: flex;
            flex-direction: column;
        }
    }
    .react{
        margin-top: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .react-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 8px;
            .react-count{

            }
            .react-action{
                cursor: pointer;
            }
        }
    }
    .comment{
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        .comment-item{
            display: flex;
            flex-direction: column;
            .header{
                display: flex;
                align-items: center;
                .edit{
    
                }
                .commet-user-name{
                    width: 200px;
                    font-weight: bold;
                }
            }
            .comment-text{
                width: calc(100%-200px);
            }
        }
        .new-comment{
            display: flex;
            align-items: center;
            column-gap: 8px;
            .comment-action{
                width: 50px;
                padding-bottom: 1.34375em;
            }
            .input-comment-text{
                
            }
        }
    }

}