.login-page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f2f5;
  
    .content {
      width: 350px;
      padding: 32px;
      font-size: 16px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  
      .header {
        .title {
          font-size: 24px;
          color: #1877f2;
          font-weight: 700;
        }
        .subtitle {
          font-weight: 500;
        }
      }
      .actions {
        row-gap: 20px;
        display: flex;
        flex-direction: column;
      }
    }
  }
  