.edit-dialog-body {
    height: 70%;
}

.edit-dialog-textrea {
    height: fit-content;
    display: flex;
    align-items: center;
}

.edit-dialog-mat-form-field {
    width: 100%;
}

.edit-dialog-botton {
    display: flex;
    justify-content: center;
}