<div class="navbar">
  <div class="title">
    <span>Adda Ghor</span>
  </div>
</div>
<mat-divider></mat-divider>
<div class="user-profile ">
  <div class="header">
    <div class="user-image">
      <span class="image"></span>
    </div>
    <div class="text">
      <div class="user-name">
        <span>User Name</span>
      </div>
      <div class="user-about mt-8">
        <span>This section is to show some information about user.</span>
      </div>
    </div>
  </div>

  <div class="user-profle-information mt-8">
    <div class="contact-no">
      <span><b>Contact No: </b>01774-30xxxx</span>
    </div>
    <div class="contact-email">
      <span><b>Contact Email: </b>admin@gmail.com</span>
    </div>
    <div class="contact-email">
      <span><b>Relationship: </b>admin@gmail.com</span>
    </div>
  </div>

</div>
