<div class="navbar">
  <div class="title">
    <span>Adda Ghor</span>
  </div>
</div>
<mat-divider></mat-divider>
<div class="user-profile">
  <div class="header">
    <div class="user-image">
      <span class="image"></span>
    </div>
    <div class="text">
      <div class="user-name">
        <span>{{user?.userName}}</span>
      </div>
    </div>
  </div>

  <div class="user-profle-information mt-8">
    <div>
      <b>Email: </b>{{user?.email}}
    </div>
    <div>
      <b>Occupation: </b>{{user?.occupation}}
    </div>
    <div>
      <b>About Me: </b>{{user?.bio}}
    </div>
  </div>

</div>
