<div class="login-page">
  <div class="content">
    <div class="header mt-8">
      <span class="title">Adda Ghor</span>
      <p class="subtitle">Connect, Share, Enjoy ...</p>
    </div>
    <div class="login-form mt-16">
      <div class="email-phone">
        <input  placeholder="Email or Phone">
      </div>
      <div class="password mt-16">
        <input type="password"placeholder="Password" type="password">
      </div>
    </div>
    <div class="actions mt-16">
      <div class="login-button">
        <button mat-button color="primary" (click)="navigateToHomePage()">Log In</button>
      </div>
      <div class="forget-passowrd mt-16 mb-16">
        <span>Forget password ?</span>
      </div>
      <mat-divider></mat-divider>
      <div class="create-account mt-16">
        <button mat-stroked-button (click)="createAccount()">Create New Account</button>
      </div>
    </div>
  </div>

</div>
